*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.25rem 0.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navbar #menus{
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    flex-wrap: wrap;
    row-gap: 1.5 rem;
    column-gap: 2rem;
    margin-bottom: 10px;
    
}

.menuNavbar a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    flex-wrap: wrap;
    row-gap: 1.5 rem;
    column-gap: 2rem;
}

.menuNavbar a:hover{
    text-decoration: underline 2px;
    text-decoration-color: darkcyan;
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    flex-wrap: wrap;
    row-gap: 1.5 rem;
    column-gap: 2rem;
}
.login{
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 30px;
}

.aboutus{
    text-align: center;
    font-size: 50px;
}

.icon{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paragraf{
    margin-left: 150px;
    margin-right:150px;
    font-size: large;
    
}

.contact{
    font-size: 30px;
    margin-left: 150px;
}

.cs{
    margin-left: 150px;
}

#logo2{
    display: flex;
    justify-content: center;
    flex-grow: 3;
    flex-wrap: wrap;
    row-gap: 1.5 rem;
    column-gap: 2rem;
}

.logo3{
    width: 1.25rem;
}

.copyright1{
    text-align: center;
}


.dropbtn {
    background-color: white;
    color: black;
    padding: 0px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: teal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

#menuham{
    display: none;
}
.hamburger{
    display: none;
}
#buttonHam{
    display: none;
}
@media screen and (width <= 600px){
    .menuNavbar{
        display: none;
    }
    .hamburger {
       display: block;
       color: white;
    }
    #menuNavbar{
        color: white;
        width: 100%;
        margin-left: 0.5rem;
    }
    #buttonHam{
       position: absolute;
       display: block;
       cursor: pointer;
       padding: 1px;
       width: 10%;
       height: 5%;
       margin-left: 20rem;
       margin-bottom: 1rem;
       margin-top: 1rem;
       border: none;
       background-color: white;
       
    }
    #menuham{
        background-color: teal;
        padding: 1rem 9.5rem;
        align-items: center;
        text-align: center;
      
    }
    .login1{
        border: none;
        outline: none;
        color: white;
        background-color: teal;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
    }
    .dropbtn1{
        border: none;
        outline: none;
        color: white;
        background-color: teal;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        text-decoration: underline;
    }
    .home5{
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .aboutus5{
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .register5{
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .aboutus{
        text-align: center;
        font-size: 50px;
    }
    
    .icon{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .paragraf{
        margin-left: 50px;
        margin-right:50px;
        font-size: large;

    }
    
    .contact{
        font-size: 30px;
        margin-left: 50px;
    }
    
    .cs{
        margin-left: 53px;
    }
    
    #logo2{
        display: flex;
        justify-content: center;
        flex-grow: 3;
        flex-wrap: wrap;
        row-gap: 1.5 rem;
        column-gap: 2rem;
    }
    
    .logo3{
        width: 1.25rem;
    }
    
    .copyright1{
        text-align: center;
    }
}